.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title h1 {
  font-size: 100px;
  font-family: 'Tesla';
  z-index: 10;
  line-height: 1;
  margin-bottom: 20px;
}

.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom right, #a90101, #ffffff);
  border: 2px solid #c6c6c6;
  overflow: hidden;
  border-radius: 30px;
  width: 300px;
  height: 400px;
  padding-left: 0;
  position: relative;
}

.mainCybertruck {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom right, #555555, #ffffff);
  border: 2px solid #c6c6c6;
  overflow: hidden;
  border-radius: 30px;
  width: 300px;
  height: 400px;
  padding-left: 0;
  position: relative;
}

.mainModelY {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom right, #1a5bb8, #ffffff);
  border: 2px solid #c6c6c6;
  overflow: hidden;
  border-radius: 30px;
  width: 300px;
  height: 400px;
  padding-left: 0;
  position: relative;
}

.mainImage {
  object-fit: contain;
  object-position: center bottom;
  transform: translateY(-18%) scale(1.45) translateX(9%);
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}

.mainImageUp {
  object-fit: contain;
  object-position: center bottom;
  transform: translateY(-35%) scale(1.45) translateX(9%);
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}

.mainImageCybertruck {
  object-fit: cover;
  transform: translateY(-8%);
  transform: translateX(12%);
  transition: 0.5s ease;
  width: 120%;
  height: 67.7%;
}

.mainCar {
  display: flex;
  transform: translateY(-57%);
  margin-bottom: -420px;
  transition: 0.5s ease;
}

.mainCarCybertruck {
  display: flex;
  transform: translateY(-56%);
  margin-bottom: -180px;
  transition: 0.5s ease;
}

.mainCar:hover {
  transform: translateY(-60%);
}

.mainCarCybertruck:hover {
  transform: translateY(-60%);
}

.mainCar img {
  width: 560px;
  height: 600px;
  object-fit: contain;
}

.mainCarCybertruck img {
  width: 600px;
  height: 420px;
  object-fit: contain;
}

.heroWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
    display: none;
  }

  .title h1 {
    font-size: 70px;
  }

  .main {
    width: 150px;
    height: 250px;
    padding-left: 0;
  }

  .mainImage {
    transform: translateY(25%) scale(0.85);
  }

  .mainCar img {
    width: 410px;
    height: 310px;
  }
}